@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;

  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: #352b25;
}
